nimcache/
*.exe
*.dll
*.so
*.dylib
*.exe
tmp
gen
main
runner
runner.nim
parser
parser.nim
parser.c
tests/test_*
!tests/test_*.nim
alloc.h
array.h
parser.h
node-types.json
package-lock.json
node-types.json
grammar.json
tree-sitter
callgrind.out
profile_results.txt
test_all_grammars.log
treestand.out